<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example._50_dao.mapper.EmployeeMapper">

    <select id="findAll" resultType="com.example._60_dto.EmpDto">
        SELECT employee_id, employee_name, salary, hire_date, manager_id, department_id 
        FROM employees
        ORDER BY employee_id
    </select>
	
    <select id="findById" resultType="com.example._60_dto.EmpDto">
        SELECT employee_id, employee_name, salary, hire_date, manager_id, department_id 
        FROM departments 
        WHERE employee_id = #{employee_id}
    </select>

    <insert id="insertEmp" parameterType="com.example._60_dto.EmpDto">
        INSERT INTO employees (employee_id, employee_name, salary, hire_date, manager_id, department_id) 
        VALUES (#{employee_id}, #{employee_name}, #{salary}, #{hire_date}, #{manager_id}, #{department_id})
    </insert>

    <update id="updateEmp" parameterType="com.example._60_dto.EmpDto">
        UPDATE employees 
        SET employee_id = #{employee_id}, 
        employee_name = #{employee_name}, 
        salary = #{salary}, 
        hire_date = #{hire_date},
        manager_id = #{manager_id}, 
        department_id = #{department_id} 
        WHERE employee_id = #{employee_id}
    </update>

    <delete id="deleteEmp">
        DELETE FROM employees WHERE employee_id = #{employee_id}
    </delete>
    
    <select id="leftJoin" resultType="map">
        SELECT e.employee_id, e.employee_name, e.salary, e.hire_date, e.manager_id, 
        d.department_id, d.department_name
        FROM employees e LEFT JOIN departments d
        ON e.department_id = d.department_id
    </select>
    
     <select id="empLeftJoinDpt" resultType="com.example._60_dto.EmpDptDto">
        SELECT e.employee_id, e.employee_name, e.salary, e.hire_date, e.manager_id, 
        d.department_id, d.department_name
        FROM employees e LEFT JOIN departments d
        ON e.department_id = d.department_id
    </select>   

</mapper>